.parameter_name {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	background-color: #3F65B4;
	background-attachment: fixed;
	background-position: center center;
	border: 1px solid #FFFFFF;
	padding-left: 5px;
	color: #FFFFFF;
}
.options_table {
	border: medium solid #FFFFFF;
}
.parameter_value {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	background-color: #CCCCCC;
	border: 1px solid #FFFFFF;
	margin: auto;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.parameter_hint {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}
.error_message {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	color: #FF3333;
}
.odd_table_row {
	font-family: "Times New Roman", Times, serif;
	background-color: #B4BCE4;
	margin: 1px;
	padding: 1px;
	border: 1px solid #FFFFFF;
	text-align: justify;
	vertical-align: middle;
}
.not_odd_table_row {
	font-family: "Times New Roman", Times, serif;
	background-color: #CCCCCC;
	margin: 1px;
	padding: 1px;
	border: 1px solid #FFFFFF;
	text-align: justify;
	vertical-align: middle;
}

/* Moisa Dmitry Styles*/
.table_header{
	background: #3F65B4;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #FFFFFF;
}
.message_header{
	color: #355699;
	background: #9AAFDC;
	border: 1px solid #FFFFFF;
}
.message_text{
	color: #000000;
	background: #CCCCCC;
	border: 1px solid #FFFFFF;
}
.step_line{
	color:#3F65B4;
	background: #FFFFFF;
	font-weight: bold;
	border: medium solid #3F65B4;
}
.forum_description{
	font-size:12px;
}
a {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #3F65B4;
	text-decoration: none;
}

